@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello! Welcome to Nicks Database app!</h1>
    <p>Click on the tabs next to Navbar to select the different tables.</p>
</div>
